.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 6rem;
  margin-bottom: 20px;
  color: #333;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #555;
}

.description {
  font-size: 1.125rem;
  margin-bottom: 30px;
  color: #777;
}

.homeLink {
  font-size: 1.125rem;
  color: #007bff;
  text-decoration: none;
  border: 1px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #007bff;
    color: #fff;
  }
}
