# Java ir Maven failai ir katalogai
/server/target/
*.log
*.class
*.jar
*.war
*.ear
.env

# IDE konfigūracijos failai
/.idea/
/.classpath
/.project
/.settings/
/.factorypath

# Eclipse ir IntelliJ IDEA failai
*.iml
*.ipr
*.iws

# VS Code failai
/.vscode/

# OS specifiniai failai
.DS_Store
Thumbs.db

# Node.js ir Vite failai ir katalogai
/client/node_modules/
/client/dist/
/client/.env

# npm ir yarn log failai
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp failai
*.tmp
*.temp
*.swp

# Logų failai
*.log

# Kiti nereikalingi failai
*.bak
*.backup
