.productivityPage {
  padding: 1rem;
  font-family: Arial, sans-serif;

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    font-size: 15px;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }
}
