<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="\favicon.ico" />
    <title>Kaimux Employees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3>Add Employee</h3>
        <hr>
        <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
            <input type="hidden" th:field="*{employeeId}">
    
            <div class="form-group">
                <label for="level">Level:</label>
                <input type="text" id="level" th:field="*{level}" class="form-control mb-4 w-25" placeholder="Helper">
                <input type="checkbox" id="useHelper" onchange="updateLevel()"> Use Helper level
            </div>
    
            <div class="form-group">
                <label for="joinDate">Join Date:</label>
                <input type="text" id="joinDate" th:field="*{joinDate}" class="form-control mb-4 w-25" placeholder="2022-02-02">
                <input type="checkbox" id="useToday" onchange="updateJoinDate()"> Use today's date
            </div>
    
            <div class="form-group">
                <label for="language">Language:</label>
                <input type="text" id="language" th:field="*{language}" class="form-control mb-4 w-25" placeholder="LT">
                <input type="checkbox" id="useLt" onchange="updateLanguage()"> Use LT
                <input type="checkbox" id="useEn" onchange="updateLanguage()"> Use EN
            </div>

            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" class="form-control mb-4 w-25" placeholder="Username">
            </div>
    
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" th:field="*{firstName}" class="form-control mb-4 w-25" placeholder="John">
            </div>
    
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" th:field="*{lastName}" class="form-control mb-4 w-25" placeholder="Doe">
            </div>
    
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" th:field="*{email}" class="form-control mb-4 w-25" placeholder="johndoe@gmail.com">
            </div>
    
            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
        <hr>
        <a th:href="@{/employees/personal}">Back to employees list</a>
    </div>

<script>
    function updateLevel() {
        var levelField = document.getElementById('level');
        var useHelperCheckbox = document.getElementById('useHelper');
        if (useHelperCheckbox.checked) {
            levelField.value = 'Helper';
        } else {
            levelField.value = '';
        }
    }

    function updateJoinDate() {
        var joinDateField = document.getElementById('joinDate');
        var useTodayCheckbox = document.getElementById('useToday');
        if (useTodayCheckbox.checked) {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;
            joinDateField.value = today;
        } else {
            joinDateField.value = '';
        }
    }

    function updateLanguage(){
        var languageField = document.getElementById('language');
        var useLt = document.getElementById('useLt');
        var useEn = document.getElementById('useEn')
        if (useLt.checked) {
            languageField.value = 'LT';
        } else if (useEn.checked){
            languageField.value = 'EN';
        } else {
            languageField.value = '';
        }
    }
</script>
</body>
</html>
