<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="\server-icon-summer.ico" />
    <title>Kaimux Employees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3>Add Data for Employees</h3>
        <hr>
        <form action="/stats/saveMcTickets" method="post">

            <div class="form-group">
                <label for="date">Date:</label>
                <input type="text" id="date" th:field="${mcTickets.date}" class="form-control mb-2 w-25" placeholder="YYYY-MM-DD" pattern="\d{4}-\d{2}-\d{2}" title="Please enter date in format YYYY-MM-DD">
            </div>

            <div>
                <label for="mboti212">Mboti212:</label>
                <input type="number" id="mboti212" th:field="${mcTickets.mboti212McTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>

            <div>
                <label for="furija">Furija:</label>
                <input type="number" id="furija" th:field="${mcTickets.furijaMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>

            <div>
                <label for="ernestasltu12">Ernestasltu12:</label>
                <input type="number" id="ernestasltu12" th:field="${mcTickets.ernestasltu12McTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>

            <div>
                <label for="d0fka">D0fka</label>:</label>
                <input type="number" id="d0fka" th:field="${mcTickets.d0fkaMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="melitaLove">MelitaLove:</label>
                <input type="number" id="melitaLove" th:field="${mcTickets.melitaLoveMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="libete">Libete:</label>
                <input type="number" id="libete" th:field="${mcTickets.libeteMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="ariena">Ariena:</label>
                <input type="number" id="ariena" th:field="${mcTickets.arienaMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="sharans">Sharans:</label>
                <input type="number" id="sharans" th:field="${mcTickets.sharansMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="labashey">labashey:</label>
                <input type="number" id="labashey" th:field="${mcTickets.labasheyMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="everly">everly:</label>
                <input type="number" id="everly" th:field="${mcTickets.everlyMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="richPica">RichPica:</label>
                <input type="number" id="richPica" th:field="${mcTickets.richPicaMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="shizo">Shizo:</label>
                <input type="number" id="shizo" th:field="${mcTickets.shizoMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="ievius">Ievius:</label>
                <input type="number" id="ievius" th:field="${mcTickets.ieviusMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="bobsBuilder">BobsBuilder:</label>
                <input type="number" id="bobsBuilder" th:field="${mcTickets.bobsBuilderMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="plrxq">plrxq:</label>
                <input type="number" id="plrxq" th:field="${mcTickets.plrxqMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
            
            <div>
                <label for="emsiukemiau">Emsiukemiau:</label>
                <input type="number" id="emsiukemiau" th:field="${mcTickets.emsiukemiauMcTickets}" class="form-control mb-2 w-25" placeholder="Number">
            </div>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
</div>
</body>
</html>
