<!DOCTYPE html>
<html lang="lt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="\favicon.ico" />
    <title>Kaimux Employee Stats</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
    >
</head>
<body>
    <div class="container">
        <h3>Kaimux employee productivity - Minecraft tickets calculations</h3>
        <hr>
        <a th:href="@{/main}" class="btn btn-danger btn-sm mb-3">
            Back to Home
        </a>
        <a th:href="@{/stats/allTables}" class="btn btn-primary btn-sm mb-3">
            All tables
        </a>
        <a th:href="@{/stats/mcTicketsData}" class="btn btn-primary btn-sm mb-3">
            MC tickets data
        </a>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th rowspan ="2">Date</th>
                    <th rowspan ="2">Tickets daily sum</th>
                    <th colspan="3">Mboti212</th>
                    <th colspan="3">Furija</th>
                    <th colspan="3">Ernestasltu12</th>
                    <th colspan="3">D0fka</th>
                    <th colspan="3">MelitaLove</th>
                    <th colspan="3">Libete</th>
                    <th colspan="3">Ariena</th>
                    <th colspan="3">Sharans</th>
                    <th colspan="3">labashey</th>
                    <th colspan="3">everly</th>
                    <th colspan="3">RichPica</th>
                    <th colspan="3">Shizo</th>
                    <th colspan="3">Ievius</th>
                    <th colspan="3">BobsBuilder</th>
                    <th colspan="3">plrxq</th>
                    <th colspan="3">Emsiukemiau</th>
                </tr>
                <tr>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                    <th>Daily</th>
                    <th>Ratio</th>
                    <th>Ratio w/ pt</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.date}"></td>
                    <td th:text="${ticket.dailyTicketsSum}"></td>

                    <td th:text="${ticket.mboti212Daily}"></td>
                    <td th:text="${ticket.mboti212Ratio}"></td>
                    <td th:text="${ticket.mboti212RatioPercent}"></td>

                    <td th:text="${ticket.furijaDaily}"></td>
                    <td th:text="${ticket.furijaRatio}"></td>
                    <td th:text="${ticket.furijaRatioPercent}"></td>

                    <td th:text="${ticket.ernestasltu12Daily}"></td>
                    <td th:text="${ticket.ernestasltu12Ratio}"></td>
                    <td th:text="${ticket.ernestasltu12RatioPercent}"></td>

                    <td th:text="${ticket.d0fkaDaily}"></td>
                    <td th:text="${ticket.d0fkaRatio}"></td>
                    <td th:text="${ticket.d0fkaRatioPercent}"></td>

                    <td th:text="${ticket.melitaLoveDaily}"></td>
                    <td th:text="${ticket.melitaLoveRatio}"></td>
                    <td th:text="${ticket.melitaLoveRatioPercent}"></td>
                    
                    <td th:text="${ticket.libeteDaily}"></td>
                    <td th:text="${ticket.libeteRatio}"></td>
                    <td th:text="${ticket.libeteRatioPercent}"></td>
                    
                    <td th:text="${ticket.arienaDaily}"></td>
                    <td th:text="${ticket.arienaRatio}"></td>
                    <td th:text="${ticket.arienaRatioPercent}"></td>
                    
                    <td th:text="${ticket.sharansDaily}"></td>
                    <td th:text="${ticket.sharansRatio}"></td>
                    <td th:text="${ticket.sharansRatioPercent}"></td>
                    
                    <td th:text="${ticket.labasheyDaily}"></td>
                    <td th:text="${ticket.labasheyRatio}"></td>
                    <td th:text="${ticket.labasheyRatioPercent}"></td>
                    
                    <td th:text="${ticket.everlyDaily}"></td>
                    <td th:text="${ticket.everlyRatio}"></td>
                    <td th:text="${ticket.everlyRatioPercent}"></td>
                    
                    <td th:text="${ticket.richPicaDaily}"></td>
                    <td th:text="${ticket.richPicaRatio}"></td>
                    <td th:text="${ticket.richPicaRatioPercent}"></td>
                    
                    <td th:text="${ticket.shizoDaily}"></td>
                    <td th:text="${ticket.shizoRatio}"></td>
                    <td th:text="${ticket.shizoRatioPercent}"></td>
                    
                    <td th:text="${ticket.ieviusDaily}"></td>
                    <td th:text="${ticket.ieviusRatio}"></td>
                    <td th:text="${ticket.ieviusRatioPercent}"></td>
                    
                    <td th:text="${ticket.bobsBuilderDaily}"></td>
                    <td th:text="${ticket.bobsBuilderRatio}"></td>
                    <td th:text="${ticket.bobsBuilderRatioPercent}"></td>
                    
                    <td th:text="${ticket.plrxqDaily}"></td>
                    <td th:text="${ticket.plrxqRatio}"></td>
                    <td th:text="${ticket.plrxqRatioPercent}"></td>
                    
                    <td th:text="${ticket.emsiukemiauDaily}"></td>
                    <td th:text="${ticket.emsiukemiauRatio}"></td>
                    <td th:text="${ticket.emsiukemiauRatioPercent}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
